/*
Mookup block
Remove this block before deply
Avoid mockup images to overflow window.
*/
img.mockup {
    max-width: 100%;
}
/*
End mookup block
*/
:root {
    --main-bg-color: rgb(32,32,32);
}

#mainContent > * {
    background-color: var(--main-bg-color);
}

p {
    color: white;
}

footer p {
    font-size: x-small;
}